

header{
    background-color: black;
    color : white;
    text-align:center;
  }



div{
    background-color: gainsboro;
}
.flex{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.flex div{
    width: 33%;
    
}

/* .flex > div#img{
    min-height: auto;
} */

/* .meteoVille{
    text-align : center;
} */

footer{
    background-color: lightgrey;
}