

header{
    background-color: black;
    color : white;
    text-align:center;
  }



div{
    background-color: gainsboro;
    box-align:center;
    
}
/* .flex-container {
    display: flex;
    
} */

footer{
    background-color: lightgrey;
}